<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jellsoft.mobile.docfin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.RegisterUserActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SelectInsuranceProviderActivity" />
        <activity android:name=".activity.SelectInsurancePlanActivity" />
        <activity
            android:name=".activity.DoctorSearchActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.SearchResultsActivity" />
        <activity android:name=".activity.SearchDoctorsInBackgroundActivity"></activity>
    </application>

</manifest>